:root {
    --main-bg-color: #46466A;
    --second-bg-color: rgba(50, 50, 68, 0.616);
    --primary-color: white;
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.prenav {
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
}

.collapse {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 2px;
}

.navbar {
    background-color: var(--main-bg-color) !important;
    padding: 0px;
}
.dropdown-menu {
    background-color: rgb(161, 161, 161) !important;
}

.social .logo img {
    border-radius: 50%;
}
.navbar-toggler {
    margin: auto;
}
@media (max-width: 991px) {
    .social {
        align-items: center;
     
    }
    .social .networks ul li i {
        font-size: 25px;
    }
    .social div {
        display: flex;
        align-items: center !important;
        margin-top: 15px;
    }
    .social .logo {
        margin-top: 0px;
    }
    .social .logo img {
        width: 75px;
    }
    .networks ul {
        margin-left: 10px;
        display: flex;
        padding: 0px;
        gap: 15px;
    
    }
    .contact ol li {
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
        
    }
    .contact ol li i {
        font-size: 20px;
    }
    .networks ul li {
        display: inline-block;
        
    }
    .collapse {
        display: block;
    }
    .account {
        margin-top: 0px;
        width: 50%;
        display: flex;
        align-items: center !important;
        padding-right: 10px;
    }
    .wrapper-links  {
        display: flex !important;
        gap: 5px;
    }
    .wrapper-links a {
        padding: 5px;
        background-color: #46466A;
        width: 160px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        
    }
}

@media (max-width: 760px) {

    .social {
        display: flex;
        flex-direction: column;
        width: 50%;
            
        

    }
    .account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .wrapper-links  {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 70%;
    }
    .wrapper-links a {
        padding: 5px;
        background-color: #46466A;
        width: 100%;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        
    }
    .social .logo {
        display: flex;
        justify-content: center;
    }
    .social .logo img {
        width: 90px;
    }

    .networks {
   
    }
    .networks ul {
        padding: 0px;
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 20px;


    }
    .networks ul li {
        list-style: none;
        display: inline-block;
       
    }
    .social .contact {
        display: none;
        
    }
    .social .contact ol  {
        padding: 5px !important;
        text-align: center;

    }
    .social .contact ol li  {
        list-style: none ;
        gap: 2px;
        font-size: 15px;
        
    }
    .social .contact ol li i {
        font-size: 20px;
    }



}