
/* Estilo por defecto del botón */
.custom-toggler {
    border: 1px solid transparent; /* Color del borde por defecto */
    color:#9B8BF4;
}

/* Estilo del ícono por defecto */
.custom-toggler .navbar-toggler-icon {
    color: red !important;
}

/* Estilo del botón cuando está enfocado */




.iconBank {
    width: 32px;
    height: 32px;
    display: inline-block;
}

 .logo img {
    width: 80px;
    transition-duration: 1s;
    border-radius: 50%;

}

.social .logo img:hover {
    border-radius: 0%;
    cursor: pointer;

}

.navigation {
    position:sticky ;
    top:0px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 40;
    padding: 0px;
}

.prenav {
    display: flex;
    justify-content: space-between;
}

.networks,
.contact {
    margin-top: 20px;
}

.social {
    display: flex;
    width: 60%;
}

.networks {
    display: flex;
    align-items: center;
}

.navigation .networks ul li i {
    color: var(--third-color);
    text-shadow: none;

}

.networks ul li:hover i {
    text-shadow: 0px 0px 5px #46466A;
    cursor: pointer;
    color: #9B8BF4;
}

.social ul {
    padding: 0px;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.social .networks ul li {
    list-style: none;
    display: inline-block;
    font-size: 22px;

}

.contact {
    display: flex;
    align-items: center;
}

.contact ol {
    display: flex;
    flex-direction: row;
}

.contact ol li {
    list-style: none;
    margin-left: 20px;
    font-family: 'Helvetica';
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 13px;


}

.contact ol li:hover {
    font-size: 15px;
    color: #9B8BF4;
    cursor: pointer;
}



.account {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
}

.wrapper-links {
    margin-left: 15px;
}

.wrapper-links a {
    padding: 7px;
    background-color: var(--third-color);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Helvetica Bold Oblique';
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    width: 140px;

}

.wrapper-links a:hover {
    background-color: #9B8BF4;
    box-shadow: inset 0 0 10px #ffffff;
    color: #46466A;
    /* Sombra interior */

}

.collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.nav-item {
    margin-top: 2px;
    text-align: center;
    text-shadow: 2px 1px 0px black;


}

.navbar {

    background: #46466a !important;
    padding: 0px !important;
}


.container-fluid {
    padding: 5px;
}

.navbar-nav li a {
    color: white !important;
    text-transform: uppercase;
    font-family: 'Helvetica';
    font-size: 13px;

}


.nav-item:hover {
    border-left: 3px solid #9B8BF4;

    border-right: 3px solid #9B8BF4;



}


.dropdown-menu {
    border-radius: 0px;
    background-color: #46466A;
    border: none;
}


.dropdown-menu li :hover {
    background-color: transparent;
    border-bottom: 3px solid #9B8BF4;

}





.report {
    background-color: var(--secondary-color);
    color: #46466A;
    font-family: 'Helvetica Compressed';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 75px;
    display: none;
}

.report:hover {
    background-color: var(--third-color);
    border: 2px solid #9B8BF4;
    color: #9B8BF4;
    box-shadow: inset 0 0 10px #9B8BF4;
    animation: animationColor infinite 2s;


}

.account ul {
    padding: 0px;
}

.account ul li {
    list-style-type: none;
    width: 175px;
    text-align: start;
    color: #46466A;
    text-shadow: 0px 0px 2px black;

}

.account ul li:hover {
    color: #9B8BF4;
    border: none;
}

.panelUser li ul {
    padding: 0px;


}

.panelUser li ul li {
    margin-top: 2px;
    width: 100%;
    color: white !important;
    transition-duration: 2s !important;
    font-family: 'Helvetica Compressed';

    font-size: 13px;




}

.dropdownPanelUser li button {
    text-shadow: 2px 1px 0px black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: start;

}
.dropdownPanelUser li button i {
    margin-right: 10px;
}


.dropdownPanelUser li button:hover {
    color: white;
    box-shadow: inset 0px -15px 10px #9B8BF4;
}

.panelUser .dropdown-menu {
    border-radius: 5px;


}


.dropdown-item {
    color: white;
    font-size: 13px;

}
@media (max-width: 1370px) {
    .wrapper-links a {
        font-size: 11px !important;
    }
    .report {
        font-size: 15px;
    }
    
    
}
@media (max-width: 991px) {
    .dropdown-menu li {
        text-align: center;
    }
    .contact ol li:hover {
        font-size: 12px;
        color: #9B8BF4;
        cursor: pointer;
    }
    

    .social {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .social .networks ul li i {
        font-size: 25px;

    }

    .social div {
        display: flex;
        align-items: center !important;
        margin-top: 15px;
    }

    .social .logo {
        margin-top: 0px;
    }

    .social .logo img {
        width: 75px;
    }

    .networks ul {
        margin-left: 10px;
        display: flex;
        padding: 0px;

        gap: 15px;

    }

    .contact ol {
        flex-wrap: wrap;

    }

    .contact ol li {
        margin-left: 5px;
        font-size: 12px;
        width: 160px;
        margin-top: 5px;
        display: flex;
        align-items: center;

    }

    .contact ol li i {
        font-size: 17px;
    }

    .networks ul li {
        display: inline-block;

    }

    .collapse {
        display: block;
    }

    .account {
        margin-top: 0px;
        width: 50%;
        display: flex;
        align-items: center !important;
        padding-right: 10px;
    }

    .wrapper-links {
        display: flex !important;
        gap: 5px;
    }

    .navbar-toggler {
        margin: auto;
    }

    .wrapper-links a {
        padding: 5px;
        background-color: var(--third-color);
        width: 160px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        text-align: center;

    }

    .report {
        margin: auto;
        width: 250px;
    }
}

@media (max-width: 760px) {
    .social .logo img:hover {
        border-radius: 0%;
        cursor: pointer;
        box-shadow: 0px 4px 5px 2px #8e85bd;
    
    }
    
    .social {
        display: flex;
        flex-direction: column;
        width: 50%;



    }

    .account {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    .wrapper-links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 70%;
    }

    .wrapper-links a {
        padding: 5px;
        background-color: var(--third-color);
        width: 100%;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        text-align: center;
        

    }

    .social .logo {
        display: flex;
        justify-content: center;
    }

    .social .logo img {
        width: 90px;
    }


    .networks ul {
        padding: 0px;
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 20px;


    }

    .networks ul li {
        list-style: none;
        display: inline-block;

    }

    .social .contact {
        display: none;

    }

    .social .contact ol {
        padding: 5px !important;
        text-align: center;

    }

    .social .contact ol li {
        list-style: none;
        gap: 2px;
        font-size: 15px;

    }

    .social .contact ol li i {
        font-size: 20px;
    }





}

@keyframes animationColor {
    0% {
        color: #9a93bf;
        box-shadow: inset 0 0 10px #9a93bf;

    }

    30% {
        color: #aca0eb;
        box-shadow: inset 0 0 10px #aca0eb;

    }

    68%,
    72% {
        color: #aba4d3;
        box-shadow: inset 0 0 10px #aba4d3;

    }

    100% {
        color: #8e85bd;
        box-shadow: inset 0 0 10px #8e85bd;

    }
}