.inicio {
  display: flex;
  flex-direction: column;
  padding: 0px !important;

}


.article-1 {
  position: relative;
  height: 100%;
}

.slideshow {
  position: relative;
  z-index: 1;

  width: 100%;
}

.slider {
  box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
  height: 100%;
}

.slider-track {
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.item img {
  width: 100%;
  height: 100%;
  height: calc(100vh - 128px);

}

.infoArt1 {
  position: absolute;
  /* Posiciona el overlay sobre el contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-filter-slider);
  /* Fondo semi-transparente */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: 20px;
  font-size: 30px;
}

.infoArt1 h1,
.infoArt1 h3,
.infoArt1 p {
  margin-top: 0px;
  margin-left: 100px;
  color: white;
}

.infoArt1 h1 {
  text-decoration: underline;
  font-family: 'Helvetica Compressed';
  font-size: 60px;
  letter-spacing: 6px;
  color: var(--primary-color);
  margin-top: 70px;
}

.infoArt1 h3 {
  font-family: 'Helvetica Compressed';
  font-size: 30px;
  letter-spacing: 3px;
}

.infoArt1 p {
  width: 35em;
  font-size: 18px;
  font-family: 'Helvetica';

}

.infoArt1 button {
  padding: 7px;
  width: 250px;
  background-color: var(--third-color);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: block;
  margin:-20px auto;
  font-family: 'Helvetica Bold Oblique';
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
}

.infoArt1 button:hover {
  background-color: #9B8BF4;
  box-shadow: inset 0 0 10px #ffffff;
  color: #46466A;
}

.article-2 {
  display: flex;
  flex-direction: row;

  min-height: 100vh;
}

.article-2 .art2Left {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
}

.art2Left h2 {
  font-size: 60px;
  margin-top: 100px;
  text-transform: uppercase;
  font-family: 'Helvetica Compressed';
  letter-spacing: 6px;
  color: #46466A;
}

.art2Left p {
  width: 50em;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Helvetica';
}


.article-2 .art2Right {
  width: 50%;
  background: url('../images/cartonero.jpeg') no-repeat;
  background-color: rgba(255, 255, 255, 0.4);
  background-size: cover;

}

.wrapper-list-stats {

  width: 100%;
  height: 100%;
  background-color: #6d4b75ce;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-2 .art2Right ul {
  color: white;
}

.article-2 .art2Right ul li {
  list-style: none;
  padding: 0px;
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
  font-family: 'Helvetica';

}

.article-2 .art2Right ul li span {
  font-size: 27px;
  font-weight: 500;

}

.article-2 .art2Right ul li i {
  font-size: 35px;
}

.article-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.tittleEquino {
  background-color: #46466A;
  color: white;
  text-align: center;
  box-shadow: 0px 10px 5px #9B8BF4;
  font-family: 'Helvetica Compressed';
  letter-spacing: 3px;
  font-size: 45px;
  padding: 10px;
}

.wrapper-slider-art3 {
  height: 50%;
  width: 100%;
}

.slider2 {
  padding: 0px !important;
  margin-top: -10px;
  width: 100%;
  /* Asegura que el slider ocupe el 100% del ancho del contenedor */
  height: 50vh;
  /* Usa vh para definir la altura relativa a la vista del puerto */
  overflow: hidden;
  /* Oculta cualquier contenido que se desborde */

}

.slider2 div {
  height: 100%;
  /* Asegura que los elementos hijos ocupen el 100% de la altura del slider */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider2 img {
  width: 100%;
  /* Ajusta el ancho de las imágenes para que ocupen el 100% del contenedor */
  height: 100%;
  /* Ajusta la altura de las imágenes para que ocupen el 100% del contenedor */
  object-fit: cover;
  /* Ajusta la imagen para que se muestre completamente */
  object-position: 0px 10px;

}

.wrapper-equino {
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: row;

}

.wrapper-equino div {
  width: 50%;
  margin-top: 10px;



  text-align: center;
}

.tittleArt4 {
  font-size: 27px;
  color: #46466A;
  font-family: 'Helvetica Compressed';
  letter-spacing: 3px;
}

.wrapper-equino div p {
  width: 100%;
  margin: auto;
  padding: 10px;
  font-family: 'Helvetica';
}

.wrapper-equino div input {
  width: 250px;
  margin: auto;
}

.article-4 {
  height: 100vh;
  width: 100%;
}

@media (max-width: 760px) {

  .infoArt1 h1,
  .infoArt1 h3,
  .infoArt1 p {
    margin-top: 0px;
    margin-left: 0px;
  }

  .article-2 {
    flex-direction: column;

  }

  .art2Left {
    width: 100% !important;
  }

  .art2Right {
    width: 100% !important;
  }

  .infoArt1 {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .infoArt1 h1 {
    text-decoration: underline;
    font-family: 'Helvetica Compressed';
    letter-spacing: 6px;
    color: var(--primary-color);
    font-size: 30px !important;
    margin-top: 0px !important;
  }

  .infoArt1 h3 {
    font-family: 'Helvetica Compressed';
    font-size: 20px !important;
    letter-spacing: 3px;
  }

  .infoArt1 p {
    width: 100% !important;
    font-size: 16px !important;
    font-family: 'Helvetica';

  }

  .wrapper-equino {
    flex-direction: column !important;
  }

  .item img {
    width: 100%;
    height: 100%;
    height: calc(100vh - 196px) !important;
  
  }

}

@media (max-width: 991px) {
  .infoArt1 button {

    margin:-20px auto;

  }
  .article-1 {
  }
  .infoArt1 h1,
  .infoArt1 h3,
  .infoArt1 p {
    background-color: red;
    text-align: center;
    margin-left: 0px;
  }

  .item img {
    width: 100%;
    height: 100%;
    height: calc(100vh - 119px) !important;
  
  }
  .infoArt1 h1 {
    text-decoration: underline;
    font-family: 'Helvetica Compressed';
    letter-spacing: 6px;
    color: var(--primary-color);
    font-size: 30px !important;
    margin-top: 0px !important;
  }

  .infoArt1 h3 {
    font-family: 'Helvetica Compressed';
    font-size: 20px !important;
    letter-spacing: 3px;
  }

  .infoArt1 p {
    width: 100% !important;
    font-size: 13px !important;
    font-family: 'Helvetica';

  }

  .article-2 .art2Right ul li {
    list-style: none;
    padding: 0px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Helvetica';

  }

  .article-2 .art2Right ul li span {
    font-size: 20px;
    font-weight: 500;

  }

  .article-2 .art2Right ul li i {
    font-size: 30px;
  }

  .art2Left h2 {
    font-size: 60px;
    margin-top: 100px;
    text-transform: uppercase;
    font-family: 'Helvetica Compressed';
    letter-spacing: 6px;
    color: #46466A;
  }

  .art2Left p {
    width: 50em;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Helvetica';
  }


  .art2Left h2 {
    font-size: 40px;
    margin-top: 50px !important;
    text-transform: uppercase;
    font-family: 'Helvetica Compressed';
    letter-spacing: 6px;
    color: #46466A;
  }

  .art2Left p {
    width: 25em !important;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Helvetica';
  }

  .wrapper-equino {
    flex-direction: column !important;
    /* Cambia a columna en pantallas pequeñas */
  }

  .wrapper-equino div {
    padding: 10px;

    width: 100%;
    /* Ajusta el ancho de los divs */
  }
}

@media (max-width: 1370px) {


  .infoArt1 h1 {
    text-decoration: underline;
    font-family: 'Helvetica Compressed';
    font-size: 50px;
    letter-spacing: 6px;
    color: var(--primary-color);
    margin-top: 70px;
  }

  .infoArt1 h3 {
    font-family: 'Helvetica Compressed';
    font-size: 30px;
    letter-spacing: 3px;
  }

  .infoArt1 p {
    width: 35em;
    font-size: 18px;
    font-family: 'Helvetica';

  }

  .art2Left h2 {
    font-size: 40px;
    margin-top: 100px;
    text-transform: uppercase;
    font-family: 'Helvetica Compressed';
    letter-spacing: 6px;
    color: #46466A;
  }

  .art2Left p {
    width: 40em;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Helvetica';
  }

}


@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
}

.art2Right {
  opacity: 0;
}

.slide-in-left {
  -webkit-animation: slideInLeft 3s forwards;
  animation: slideInLeft 3s forwards;
}

.slide-in-right {
  opacity: 1;
  -webkit-animation: slideInRight 3s forwards;
  animation: slideInRight 3s forwards;
}