.inicio{
  display:flex;
  flex-direction: column;
  flex-grow: 60vh;
}

 .article-1 {
  background-image: url("../images/caballoReabHome.jpg");
  background-repeat: no-repeat;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.3fr; /* define el grid en 8*/
  grid-template-rows: 0.1fr 1fr 0.3fr;
  gap: 40px; /* Espacio entre celdas */
 }

 .art-1{
  grid-column: 1 / span 4; /*ocupa la primera fila 2 espacios del grid*/
  grid-row: 2 / span 1;
 }
 .sect-1{
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row: 2 / span 1;
  background-color: #46466a9c;
  border-radius: 8px;
  margin-left: 20px;

 }
 .helpUs {
  grid-column: 3 / span 3; /* Desde la cuarta columna y abarca dos columnas */
  grid-row: -2; /* En la última fila del grid */
  height: 100%;
  margin-bottom: 20px;
}
  h1,h2,h3,p{
    color: white;
  }
  .art-1{
    background-color: #46466a7c;
    border-radius: 8px;
    margin-left: 20px;
  }
  .art-1 > *{
    text-align: left;
  }
  .art-1 > h1{
    font-size: 50pt;
    color:#ffffff;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
  }
  .textArt-1{
    margin-top: 5%;
  }
  .art-1 > h2{
    font-size: 30pt;
  }
  .sect-1 > *{
    text-align: center;
  }
  .sect-1 > h3{
    padding-bottom: 40px;
  }
  .art-1, .sect-1 {
    flex: 1;
    padding: 20px;
    margin-bottom: 100px;
  }

  .helpUs {
    height: 50%;
    font-size: 30px;
    background-color: #F194B8;
    color: rgb(0, 0, 0);
    border-color:#F194B8;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:10px 10px 5px #00000053 ;
  }
  
  .helpUs:hover {
    background-color:#6f65aa ;
    border-color: #6f65aa;
    color:white;
  }
  .article-2{
    display: grid;
  grid-template-columns: 1fr 1fr; /* define el grid en 8*/
  gap: 40px; /* Espacio entre celdas */
  }
  .art-2 > *{
    color:black;
    text-align: center;
  }
  .art-2 {
    position: relative;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .statistics > *{
    margin:20px;
    color:rgb(255, 255, 255);
    text-align: center;
  }
  .statistics {
    background-image: url("../images/caballo-article2.jpg");
    background-size: cover;
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(300%);
    position: relative;
    animation-name: slideRight;
    animation-duration: 4s;
    animation-timing-function: ease-out;
  }
  
  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(+100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }