@import url("nav.css");
@import url("register.css");
@import url("singin.css");
@import url("footer.css");

:root {
    --primary-color: #BDB4F9;
    --secondary-color: #9B8BF4;
    --third-color: #46466A;
    --bg-filter-slider: #46466a8c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Oculta la barra de desplazamiento horizontal */

}

body {
    overflow-x: hidden;
}
.btnGoogle i,
.btnMeta i {
    color: white !important;
}

.btnGoogle {
    background-color: #EA4335;
    color: white;
    font-family: 'Helvetica';
    border-radius: 10px;
    border: none;
    padding: 3px;

}

.btnMeta {
    background-color: #1877F2;
    color: white;
    font-family: 'Helvetica';
    border-radius: 10px;
    padding: 3px;
    border: none;
}

.btnGoogle:hover {
    background-color: #EA4335;
    box-shadow: inset 0 0 10px #d2948e;
}

.btnMeta:hover {
    background-color: #1f62ba;
    box-shadow: inset 0 0 10px #4d78b1;
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('../utils/fonts/Helvetica.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Oblique'), url('../utils/fonts/Helvetica-Oblique.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Compressed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Compressed'), url('../utils/fonts/helvetica-compressed-5871d14b6903a.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Rounded Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Rounded Bold'), url('../utils/fonts/helvetica-rounded-bold-5871d05ead8de.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    src: local('Helvetica'), url('../utils/fonts/Helvetica-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Bold Oblique'), url('../utils/fonts/Helvetica-BoldOblique.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Light'), url('../utils/fonts/helvetica-light-587ebe5a59211.woff') format('woff');
}

.addElement {
    display: flex !important;
    gap: 5px;
}

.deleteElement {
    display: none !important;
}

.helvetica {
    font-family: 'Helvetica';
}

/* Estilo para la barra de desplazamiento en Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--third-color); /* Color del área detrás de la barra de desplazamiento */
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* Color de la barra de desplazamiento */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); /* Color de la barra de desplazamiento al pasar el cursor sobre ella */
  }